extends layout

block content
  div.post-page
    div.member-details
        span.username=user.username
        span.full-name (#{user.firstName} #{user.lastName})
        if user.admin
            span.admin Admin
    ul.post-list
      each post in posts
        li.post
          h2=post.title

          p.timestamp Posted on #{post.formattedTimestamp}
          p.description #{post.description}

